<ion-header no-border>
  <ion-toolbar>
    <ion-title>Select People</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closepopup()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-item>
    <ion-thumbnail slot="start" class="profile-image">
      <ion-img src="../assets/icon/favicon.png" class="profile-image"></ion-img>
    </ion-thumbnail>
    <ion-label>
      Vikas
    </ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start" class="profile-image">
      <ion-img src="../assets/icon/favicon.png" class="profile-image"></ion-img>
    </ion-thumbnail>
    <ion-label>
      Vinay
    </ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start" class="profile-image">
      <ion-img src="../assets/icon/favicon.png" class="profile-image"></ion-img>
    </ion-thumbnail>
    <ion-label>
      Vijay
    </ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start" class="profile-image">
      <ion-img src="../assets/icon/favicon.png" class="profile-image"></ion-img>
    </ion-thumbnail>
    <ion-label>
      Vikram
    </ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start" class="profile-image">
      <ion-img src="../assets/icon/favicon.png" class="profile-image"></ion-img>
    </ion-thumbnail>
    <ion-label>
      Vishal
    </ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start" class="profile-image">
      <ion-img src="../assets/icon/favicon.png" class="profile-image"></ion-img>
    </ion-thumbnail>
    <ion-label>
      Vishunu
    </ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start" class="profile-image">
      <ion-img src="../assets/icon/favicon.png" class="profile-image"></ion-img>
    </ion-thumbnail>
    <ion-label>
      Vinod
    </ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start" class="profile-image">
      <ion-img src="../assets/icon/favicon.png" class="profile-image"></ion-img>
    </ion-thumbnail>
    <ion-label>
      Vimal
    </ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start" class="profile-image">
      <ion-img src="../assets/icon/favicon.png" class="profile-image"></ion-img>
    </ion-thumbnail>
    <ion-label>
      Vikas
    </ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
</ion-content>